<div id="form">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2>Connect Social Media Account</h2>
        </div>
        <div class="panel-body">
          <%= form_for [:organization, :account, @connection], html: { multipart: true } do |f| %>
              <%= f.label 'Handle' %>
              <%= f.text_field :handle, class: "form-control" %>
              <br/>
              <%= f.submit t('global.submit'), name: 'connection_type', value: params[:type], class: 'btn btn-primary pull-right' %>
              <%= link_to t('global.back'), :back, class: 'pull-left' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>